* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: 400;
}

img {
    width: 100%;
    height: 200px;
}

.container {
    background-color: rgb(86, 4, 4);
}

li {
    padding: 10px;
    text-align: center;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(233, 62, 62);
}

h1 {
    text-align: center;
    font-weight: 500;
    color: aliceblue;
}

